quiz-game-start.zip
Day 15/main.py
Day 20/main.py
quiz-game-start/data.py
quiz-game-start/main.py
quiz-game-start/question_model.py
quiz-game-start/.vscode/launch.json
quiz-game-start/__pycache__/question_model.cpython-310.pyc
quiz-game-start/__pycache__/data.cpython-310.pyc
quiz-game-start/__pycache__/quiz_brain.cpython-310.pyc
quiz-game-start/quiz_brain.py
Day 19/main.py
Day 18 - Hirst Painting/main.py
Day 18 - Hirst Painting/hirst.png
Day 18/spirograph.py
Day 18/main.py
Day 17/main.py
Day 15/.vscode/settings.json
Day 16/main.py
